<section class="banner2_section  text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 py-5">
            {{!-- left side section --}}
            <h3 class="text-primary">We Work For People, Not For Money</h3>
            <p>You can explore our works by exploring our facebook page</p>
            <button  class="btn btn-primary"><a href="https://www.facebook.com" style="text-decoration: none;" class="text-light">Click Here</a></button>

            </div>

            <div class="col-md-6 py-3 pb-5 text-center">
                {{!-- right side --}}
            <img src="/static/images/Facebookff.png"  alt="" style="height: 200px; width: 210px;">
            
            </div>

        </div>

    </div>

</section>




<section class="banner2_section  text-center">

    <div class="container">

        <div class="row">

            <div class="col-md-6 pb-4 pt-none">

            {{!-- left side section --}}
            <img src="/static/images/unnamed.png"  alt="" style="height: 230px; width: 210px;">
            

            </div>


            <div class="col-md-6 py-5 text-center">
                {{!-- right side --}}
            <h3 class="text-primary">You Can Also Explore Our Free Content</h3>
            <p>You can explore it by visiting our YouTube page</p>
            <button  class="btn btn-primary"><a href="https://www.youtube.com" style="text-decoration: none;" class="text-light">Click Here</a></button>
            
            </div>

        </div>

    </div>

</section>