<section class="banner1_section py-4 backgroundbanner text-light text-center">
    <div class="container">
        <div class="col-md-12">
            <h2>Start Exploring Our Tech World</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, laboriosam et quo quos voluptatem ratione repellat beatae architecto fuga voluptates culpa tempora hic quibusdam odio libero excepturi magnam temporibus error.</p>
            <button class="btn btn-outline-primary">Start Learning</button>

        </div>

    </div>

</section>