<section id="contact_us" class="formBackground   py-4">
    <div class="container">
        <h3 class="text-center text-light mb-4">Contact Us</h3>
        <div class="row">
            <div class="col-md-12">


                    <form action="/process-contact-form" method="post"> {{!--  hete the action tag defines the url that were the form will go when the submit is clicked and method will define that what method should we use with the express module for this form below name="" is important to identify the data in the backend --}}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-light">Enter Your Tech Builder Login Email</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text text-secondary">We'll never share your email with anyone else.</div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-light">Enter Your Registered Contact Number</label>
                            <input name="phone" type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text text-secondary">We'll never share your contact details with anyone else.</div>
                        </div>


                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label text-light">Enter Your Login Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                        </div>


                         <div class="form-floating my-3">
                            <textarea name="query" class="form-control text-body-emphasis " placeholder="You Can Leave Your Query Or Suggestions Here" id="floatingTextarea1" style="height: 300px"></textarea>
                            <label for="floatingTextarea1">Comments</label>
                        </div>

                        <div class="mb-2 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary">Submit Now</button> 
                        </div>
                    </form>

            </div>
        </div>
    </div>
</section>