<section id="about" class="about-section bg-white  text-info-emphasis py-4">
    <div class="container">
        <div class="row " >
        <div class="col-md-12 text-center">
            <h3 class="">About this site</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat pariatur nostrum, consequatur accusamus sed hic, error cupiditate sequi, at adipisci recusandae? Molestiae non aspernatur modi vero itaque reiciendis, assumenda accusantium.</p>
            <a href="https://www.youtube.com" style="text-decoration: none;" class="text-secondary">Click Here</a>
        </div>
        </div>
    </div>
</section>


<footer class="footer  backgroundbanner text-center py-4 overflow-x-hidden">
    <div class="row">
        <div class="col-md-12">
            @ 2023 All Rights Reserved <span> 
            Copyright: AS Creations  </span>
        </div>
    </div>


</footer>
